name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  checkstyle:
    name: runner / checkstyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dbelyaev/action-checkstyle@v2
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: warning

  coverage:
    name: Run tests with coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run tests with coverage
        run: mvn clean verify

      - name: Upload Jacoco Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: |
            ${{ github.workspace }}/target/site/jacoco/jacoco.xml
            ${{ github.workspace }}/target/site/jacoco/index.html

      - name: Verify coverage threshold (fail under 90%)
        run: |
          echo "Checking coverage threshold..."
          COVERAGE=$(grep -oPm1 "(?<=<counter type=\"INSTRUCTION\" missed=\")\d+\" covered=\"\d+" target/site/jacoco/jacoco.xml | awk -F'"' '{missed=$1; covered=$3; total=missed+covered; printf "%.0f", (covered*100/total)}')
          echo "Coverage: $COVERAGE%"
          if [ "$COVERAGE" -lt 90 ]; then
            echo "❌ Coverage below 90%! (Current: $COVERAGE%)"
            exit 1
          else
            echo "✅ Coverage above 90%! (Current: $COVERAGE%)"
          fi

      - name: Add coverage comment to PR
        uses: madrapps/jacoco-report@v1.6.1
        with:
          paths: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 90
          min-coverage-changed-files: 90
          title: '# :recycle: Coverage Report'
          update-comment: true
          pass-emoji: ':green_circle:'
          fail-emoji: ':red_circle:'


  build:
    name: Build and upload artifact
    runs-on: ubuntu-latest
    needs: coverage 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build package
        run: mvn -B clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: literalura-build
          path: target/*.jar
